*{
 margin: 0;
 font-family: ' Arial';
  border: border-box;}

  .navbar{
    background-color: black;
  height: 60px;
  color: white;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

.nav-logo{
  height: 50px;
  width: 110px;
}

.logo{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFfk5EpYhMg8UEC5DCQkuJoroVS8wMSz6NIA&s");
  background-size: cover;
 height: 50px;
 width: 110px;
}
 
.border{
  border: 1.5px solid transparent;
}

.border:hover{
  border: 1.5px solid white;
}

/**box-2**/
.add-fisrt{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;

}
.add-sec{
  font-size: 1rem;
  margin-left: 3px;

}
.add-icon{
  display: flex;
  align-items: center;
}

/**box3**/
.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 3px;
}
.search-select{
  background-color: #f3f3f3;
  border-top-left-radius: 3px;
  border-bottom-left-radius:3px;
  width: 50px;
  text-align: center;
  border: none;
}
.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius:3px ;
  border-bottom-right-radius:3px ;
  color: black;
}
.add-third{
  color: #cccccc;
  font-size: 0.7rem;
}
.add-fourth{
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
}
.add-fifth{
  color: #cccccc;
  font-size: 0.7rem;
}
.add-sixth{
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-cart i{
font-size: 35px;
align-items: center;

}

.nav-cart{
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;

}

.nav-line{
  background-color: #222f3d;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
 }

 .panel-sec p{
  display: inline;
  margin-left: 15px;

 }
 .panel-sec{
  width: 70%;
  font-size: 0.85rem;
 }
 
 .panel-deals{
  font-size: 0.9rem;
  font-weight: 700;
 }

 .hero-section{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/hero_image.jpg?raw=true");
  height: 250px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 }

 .hero-msg{
  background-color: white;
  color: black;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;

  
 }

 .hero-msg a{
  color: blue;
 }

 .shop-deals{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(180, 180, 180);
  text-align: center;
 }

 .box{
  height: 300px;
  width: 300px;
  border:2px solid black;
  background-color: white;
  padding: 20px 0px 15px;
  margin-bottom: 15px;
  
 }

 .box-image1{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/box1-2.jpg?raw=true");
  margin-left: 1rem;
  margin-right: 1rem;
  height: 270px;
 }
 .box-content p{
  color: blue;
 }
 .box-image2{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/box2-1.jpg?raw=true");
  margin-left: 1rem;
  margin-right: 1rem;
  height: 270px;
 }
 .box-image3{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/box2-2.jpg?raw=true");
  margin-left: 1rem;
  margin-right: 1rem;
  height: 270px;
 }
 .box-image4{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/box3-1.jpg?raw=true");
  margin-left: 1rem;
  margin-right: 1rem;
  height: 270px;
 }
 .box-image5{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/box1-3.jpg?raw=true");
  margin-left: 1rem;
  margin-right: 1rem;
  height: 270px;
 }
 .box-image6{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/box2-4.jpg?raw=true");
  margin-left: 1rem;
  margin-right: 1rem;
  height: 270px;
 }
 .box-image7{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/box3-3.jpg?raw=true");
  margin-left: 1rem;
  margin-right: 1rem;
  height: 270px;
 }
 .box-image8{
  background-image: url("https://github.com/salihabrik/Amazon-Clone/blob/main/assets/box3-4.jpg?raw=true");
  margin-left: 1rem;
  margin-right: 1rem;
  height: 270px;
 }
 .footer{
  margin-top: 15px;
 }
 
 .foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
 }

 .foot-panel2{
  background-color: #222f3d;
  color: white;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
 }
 .foot-panel2 p{
  font-size: 1.2rem;
 }
 .ul{
  margin-top: 20px;

 }

 .ul a{
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
 }
 
 .foot-panel3{
  background-color: #222f3d;
  color: white;
  border-top: 0.5x solid white;
  height: 70px;
  display: flex;
  justify-content: center;
 }

 .logo{
  background-size: cover;
  height: 50px;
  width: 100px;
 }

 .foot-panel4{
  background-color: #0f1111;
  color: white;
 }
 .pages{
  padding-top: 25px;
  text-align: center;
  font-size: 0.85rem;
 }
 .copyright{
  padding-top: 25px;
  text-align: center;
  font-size: 0.85rem;
 }